<%= javascript_pack_tag "#{@form.identifier}_form" %>

<% content_for :header do %>
<header>
  <%= link_to 'Back', root_path, class: 'back button' %>
  <h1 class="font-scifi"><%= @form.name %></h1>
</header>
<% end %>

<p id="notice"><%= notice %></p>