<%= javascript_pack_tag "#{@form.identifier}_form", props: { submissions: Object.const_get(@form.identifier.camelize).all } %>
<%= link_to 'Back', forms_path %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @form.name %>
</p>