// Place all the styles related to the Forms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.form-container {
  display: flex;
  justify-content: space-evenly;

  .panel {
    width: 50%;
    border: 1px solid grey;
    margin: 1rem;
    padding: 1rem;

    h2 {
      text-align: center;
    }
  }
}